/* Override MVP.css provided styles */

:root {
  --font-family: sans-serif;
  --hover-brightness: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root[color-mode="user"] {
    --color-bg: #262a2b;
    --color-link: #0079ca;
    --color-secondary: #b50aba;
    --color-text: #e3e1dd;
  }
}

/* Override MVP.css provided sup */

sup {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  color: var(--color-text);
  top: -.5em;
}

/* Noscript modal */

div.noscript-modal {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: auto;
  padding-top: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

div.noscript-modal-content {
  background-color: #c02d2d;
  border-radius: var(--border-radius);
  color: white;
  font-weight: bold;
  margin: auto;
  max-width: 90%;
  opacity: 1;
  padding: 20px;
  text-align: center;
}
